* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

	/* RGB (234,179,8) */

.rooms-container {
    /* border: 1px solid black; */
}
.rooms-title > h4{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    padding: 5% 0;
    background: linear-gradient(to bottom, rgba(234,179,8,0.5), rgba(234,179,8,0.7));
}
.rooms-content-container {
    /* border: 1px solid black; */
    margin: 5% 10%;
    text-align: center;
    padding: 20px 10px;
    line-height: 2;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.rooms-intro > h5 {
    font-size: 28px;
}
.rooms-intro > p {
    font-size: 18px;
    margin-top: 15px;
}
@media (max-width:768px){
    .rooms-title > h4 {
        font-size: 28px;
    }
    .rooms-content-container {
        line-height: 1.5;
    }
}



.rooms-card-container {
    /* border: 1px solid black; */
    padding: 3% 10%;
}
.rooms-card-outer {
    /* border: 1px solid black; */
    width: 100%;
    height: 550px;
    border-radius: 10px;
    display: flex;
    margin-bottom: 5%;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.card-image {
    /* border: 1px solid brown; */
    border-radius: 10px;
    width: 65%;
}
.card-image > img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
}
.card-smallerimgs {
    /* border: 1px solid black; */
    height: 30%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-smallerimgs > img {
    height: 99%;
    width: 33%;
    border-radius: 10px;
    /* border: 1px solid brown; */
}
.card-content {
    width: 35%;
    /* border: 1px solid yellowgreen; */
    border-radius: 10px;
    padding: 45px 10px;
    background: linear-gradient(to bottom, rgba(234,179,8,0.6), rgba(234,179,8,0.5), rgba(234,179,8,0.6));
}
.card-content > h5 {
    font-size:  32px;
    font-weight: 600;
    line-height: 1.8;
}
.card-content > p {
    font-size: 19px;
    margin-top: 5px;
}
.card-content > h6 {
    margin: 8px 0;
    font-size: 17px;
}
.card-content > ul > li {
    line-height: 1.5;
    list-style-type: disc;
    margin-left: 5%;
}
.card-content > a {
    font-size: 19px;
}
.rooms-btn {
    border: 1px solid black;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 18px 0;
}
.rooms-btn:hover {
    background: linear-gradient(to right, rgb(51, 51, 51,0.5), rgba(51,51,51,0.8));
    color: white;
    border: none;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}
.phone-icon {
    font-size: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    /* border: 1px solid black; */
    padding: 2.5% 0 0 0;
    /* margin-left: 25%; */
    margin-right: 1%;
    transition: 0.3s ease-in-out;
}
.call-icon-box {
    display: block;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    padding: 5px 0;
}
.call-icon-box:hover .phone-icon {
    color: #333;
    transform: scale(1.1);
    border: 1px solid green;
    background-color: green;
}
.call-icon-box:hover {
    color: white;
    border: none;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    background: linear-gradient(to right, rgb(51, 51, 51,0.5), rgba(51,51,51,0.8));
}
@media (max-width:1024px) {
    .rooms-card-outer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 5% 0 15% 0;
    }
    .invert-rooms-card-outer {
        flex-direction: column-reverse;
    }
    .card-image {
        width: 100%;
    }
    .card-content {
        width: 100%;
        padding: 15px 10px;
    }
    .card-content > h5 {
        font-size: 30px;
    }
    .card-content > p {
        font-size: 16px;
    }
    .rooms-btn {
        width: 100%;
        height: 30px;
    }
    .phone-icon {
        font-size: 16px;
        margin-left: 0%;
        padding: 2% 0;
        height: 30px;
        width: 30px;
    }
    .call-icon-box {
        display: block;
        width: 100%;
        border: 1px solid black;
        border-radius: 8px;
        padding: 5px 0;
        text-align: center;
    }
}




.amenities-container {
    /* border: 1px solid black; */
    margin: 3% 10%;
}
.amenities-title {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
}
.amenities-outer-box {
    /* border: 1px solid black; */
    margin-top: 4%;
    display: flex;
    justify-content: space-evenly;
}
.icon-container {
    text-align: center;
    /* border: 1px solid black; */
    height: 200px;
    width: 200px;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-box {
    height: 140px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.icon-box > i {
    font-size: 65px;
    color: rgba(234,179,8);
}
.icon-container > p {
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    padding: 5px 0;
}
.icon-container:hover .icon-box {
    background: #333;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

@media (max-width:768px) {
    .amenities-title {
        font-size: 26px;
    }
    .amenities-outer-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icon-container {
        text-align: center;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .amenities-outer-box {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}